.alert {
	margin-bottom: 0;
}

.alert-in-progress {
	background: #01910B;
	border: 1px solid white;
}

.alert-upcoming {
	background: #444;
	border: 1px solid white;
}

.alert-big {
	width: 640px;
	height: 284px;
}

a, a:hover {
	text-decoration: none;
	color: white;
}

h1, h3 {
	padding-left: 15px;
}

td {
	min-width: 140px;
	height: 20px;
}

.sportCell {
	font-size: 0.75em;
}

.scoreCell {
	min-width: 40px;
	text-align: right;
}

.timeCell {
	font-size: 0.75em;
}

.ng-enter{
    -webkit-transition: .5s;
		opacity: 0;
}

.ng-enter-active{
		opacity: 1;
}

.ng-enter-stagger{
		transition-delay: .1s;
}

.ng-leave{
		-webkit-transition: .5s;
		opacity: 1;
}

.ng-leave-active{
		opacity: 0;
}
